.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-background {
  background: linear-gradient(135deg,rgba(15, 122, 7, 1) 26%, rgba(255, 255, 255, 1) 100%);
  min-height: 100vh; 
  width: 100%;
  display: flex;
  justify-content: center; 
  align-items: flex-start;     
  margin: 0;
  padding: 2rem;          
  box-sizing: border-box;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.custom-accordion {
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-radius: 8px !important;
  margin-bottom: 16px !important;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05) !important;
  border: 1px solid #A2D9A0 !important;
}

/* Removes the weird thin line MUI adds between accordions */
.custom-accordion::before {
  display: none !important;
}

.accordion-summary {
  transition: background-color 0.3s ease;
}

.accordion-summary:hover {
  background-color: rgba(15, 122, 7, 0.05) !important;
}

/* Targets the text inside the summary */
.accordion-title {
  color: #0F7A07;
  font-weight: bold !important;
}

.accordion-icon {
  color: #0F7A07 !important;
}

.accordion-details {
  background-color: #ffffff;
  color: #333333;
  max-height: 400px; 
  overflow-y: auto;
  border-top: 1px solid #f0f0f0;
}

.accordion-details::-webkit-scrollbar {
  width: 8px;
}

.accordion-details::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.accordion-details::-webkit-scrollbar-thumb {
  background: rgba(15, 122, 7, 0.5); 
  border-radius: 10px;
}

.accordion-details::-webkit-scrollbar-thumb:hover {
  background: rgba(15, 122, 7, 1); 
}

.custom-green-textfield {
  width: 120px; 
  margin: 0 8px !important; 
}

.custom-green-textfield .MuiInputBase-input,
.custom-green-textfield .MuiInputLabel-root {
  font-size: 0.85rem !important;
}

.custom-green-textfield .MuiInputLabel-root.Mui-focused {
  color: #0F7A07 !important;
}

.custom-green-textfield .MuiInput-underline:after {
  border-bottom-color: #0F7A07 !important;
}

.custom-green-textfield .MuiInputBase-input {
  caret-color: #0F7A07;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
